.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #f8f9fa;
    padding: 40px 0px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar a {
    text-decoration: none;
    color: black;
    margin: 0 30px;
    font-size: 20px;
}

.navbar a:hover {
    text-decoration: underline;
}